html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:sans-serif;
}

h1, h2, h3, p{
    margin: 0;
}
.header {
    background-color: coral;
}
.container{
    width: 1100px;
    margin: 0 auto;
}

h1 {
    color: #fff;
    padding: 10px 0;
}

.navbar {
    background-color: #333;
}

.list-item{
    padding: 0;
    margin: 0;
}

.item{
    list-style-type: none;
    display: inline;
}

.item-link{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    margin: 0 auto;
    display: inline-block;
    font-family: sans-serif;
}

.item:first-child a{
    padding-left: 0px;
}

.showcase{
    background-image: url(../images/img_for_mayoq.jpg);
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 50px ;
    text-align: center;
}

.main{
    color: #555;
    margin-top: 30px;
}

h3{
    margin-bottom: 20px;
}

.content {
    float: left;
    width: 70%;
    padding-right: 20px;
    box-sizing: border-box;
}
.sidebar{
    margin-top: 30px;
    float: left;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    box-sizing: border-box;
}

.clr{
    clear: both;
}

.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}